[Unit]
Description=Kubernetes env to hosts vars
After=etc-hosts.mount

[Service]
Type=simple
ExecStart=/usr/local/bin/env2host.php
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target